In [138]:
import pandas as pd 
import numpy as np

In [139]:
df = pd.read_csv("reviews.csv" , index_col=0)

In [140]:
df

,BusinessId,review_id,rating,comment,creation_date
0,268517,368276,5,تعامل راقي ومتعاونين جدا يعطيكم العافيه والطلب...,2024-09-03T10:46:56.273
1,268517,366180,5,التعامل يفتح النفس ويسون نفس المطلوب والتوصيل ...,2024-06-10T17:02:09.137
2,268517,366102,5,اسلوب وذوق ماشاءالله,2024-06-07T19:02:15.573
3,268517,361135,5,تعامل رائع ان شاء الله مب اخر مره اطلب منها,2024-05-08T15:44:14.163
4,268517,359092,5,اشكرهم على حسن التعامل والاسلوب والتنسيق الحلو...,2024-04-03T21:42:03.303
...,...,...,...,...,...
47172,277496,326234,5,NaN,2023-03-30T20:29:55.22
47173,277496,326233,5,NaN,2023-03-30T20:29:52.063
47174,277496,326232,5,NaN,2023-03-30T20:29:49.333
47175,277496,326231,5,NaN,2023-03-30T20:29:46.557
47176,277496,320046,3,NaN,2023-03-05T18:30:07.02

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47177 entries, 0 to 47176
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   BusinessId     47177 non-null  int64
 1   review_id      47177 non-null  int64
 2   rating         47177 non-null  int64
 3   comment        29505 non-null  object
 4   creation_date  47177 non-null  object
dtypes: int64(3), object(2)
memory usage: 2.2+ MB

In [142]:
df['BusinessId'].value_counts().head(50)

BusinessId
39976     4596
77092     3333
48246     1813
24519     1553
257509    1204
216993    1186
15908     1167
51267      967
1045       881
2897       808
24974      676
44461      656
258697     623
86675      585
214933     507
17184      493
96402      476
89771      466
7855       444
218848     435
42825      408
238860     393
64629      393
49372      392
669        389
212567     388
235945     377
90277      375
235942     375
1491       371
27327      368
205        368
176761     345
204828     334
235951     325
287679     312
117172     308
1428       302
3114       299
242704     287
55142      279
54686      275
200629     257
8889       255
39658      249
205289     235
15853      213
4341       211
107585     207
93932      206
Name: count, dtype: int64

In [143]:
df['creation_date'] = df['creation_date'].astype('datetime64[ns]')

In [144]:
df['comment'].fillna('No Comment' , inplace=True)

In [145]:
df.isnull().sum()

BusinessId       0
review_id        0
rating           0
comment          0
creation_date    0
dtype: int64

In [148]:
# AP = process()
# AP.main(dataset=df)

In [159]:
df_clean = pd.read_csv('cleaned_data.csv')

In [152]:
df_clean['comment'].fillna('No Comment' , inplace=True)

In [153]:
df_clean

,BusinessId,review_id,rating,creation_date,comment
0,268517,368276,5,2024-09-03 10:46:56.273,تعامل راقي ومتعاونين جدا يعطيكم العافيه والطلب...
1,268517,366180,5,2024-06-10 17:02:09.137,التعامل يفتح النفس ويسون نفس المطلوب والتوصيل ...
2,268517,366102,5,2024-06-07 19:02:15.573,اسلوب وذوق ماشاءالله
3,268517,361135,5,2024-05-08 15:44:14.163,تعامل رايع ان شاء الله مب اخر مره اطلب منها
4,268517,359092,5,2024-04-03 21:42:03.303,اشكرهم علي حسن التعامل والاسلوب والتنسيق الحلو...
...,...,...,...,...,...
47172,277496,326234,5,2023-03-30 20:29:55.220,No Comment
47173,277496,326233,5,2023-03-30 20:29:52.063,No Comment
47174,277496,326232,5,2023-03-30 20:29:49.333,No Comment
47175,277496,326231,5,2023-03-30 20:29:46.557,No Comment
47176,277496,320046,3,2023-03-05 18:30:07.020,No Comment

In [155]:
import re

# Function to count emojis using regex
def count_emojis(text):
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F700-\U0001F77F"  # alchemical symbols
                               u"\U0001F780-\U0001F7FF"  # Geometric Shapes Extended
                               u"\U0001F800-\U0001F8FF"  # Supplemental Arrows-C
                               u"\U0001F900-\U0001F9FF"  # Supplemental Symbols and Pictographs
                               u"\U0001FA00-\U0001FA6F"  # Chess Symbols
                               u"\U0001FA70-\U0001FAFF"  # Symbols and Pictographs Extended-A
                               u"\U00002700-\U000027BF"  # Dingbats
                               u"\U00002600-\U000026FF"  # Miscellaneous Symbols
                               u"\u2B50"                 # ⭐ star
                               u"\u2605"                 # ★ filled star
                               u"\u23F0"                 # ⏰ alarm clock
                               u"\u231A"                 # ⌚ watch
                               u"\u2196"                 # ↖ arrow
                               "]+", flags=re.UNICODE)
    
    return len(emoji_pattern.findall(text))

# Apply the count_emojis function to the column containing text, for example, 'text_column'
df_clean['emoji_count'] = df_clean['comment'].apply(count_emojis)

# Sum all emoji counts to get the total number of emojis in the dataset
total_emojis = df_clean['emoji_count'].sum()

# Display the total number of emojis
print(f"Total number of emojis in the dataset: {total_emojis}")

Total number of emojis in the dataset: 0

In [157]:
df.dtypes

BusinessId                int64
review_id                 int64
rating                    int64
comment                  object
creation_date    datetime64[ns]
emoji_count               int64
dtype: object

In [156]:
df_clean[df.duplicated()]

Empty DataFrame
Columns: [BusinessId, review_id, rating, creation_date, comment, emoji_count]
Index: []

In [158]:
df_clean.to_csv("cleaned_data.csv")